@model Movie
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-rbQcVtOQq4cnRknDJrxexcf3KZ91dNz+14vZG+hrqY3DFVeu1A3F5r8rB+GEmjDq5Kz0xKTVy7R8KQ24IRU1xg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="movie-card">
    <div class="watched-status @(Model.Watched ? "watched" : "not-watched")">
        @(Model.Watched ? "Watched" : "Not-Watched")
    </div>
    <img class="movie-image" src="@Model.Image" alt="@Model.Title" />
    <div class="movie-content">
        <div class="movie-title">@Model.Title</div>
        <div class="movie-description">
            @(string.IsNullOrEmpty(Model.Description) ? "Bu filmin/oyunun henüz bir açıklaması bulunmamaktadır." : Model.Description)
        </div>
        <div class="movie-rating">Point: @Model.Rating.ToString()</div>
        <div class="aDel">
            <a href="/Movie/DeleteMovie/@Model.ID">
                <i class="fa-regular fa-rectangle-xmark" style="color: #ff0000;"></i>
            </a>
        </div>
    </div>
</div>