<!DOCTYPE html>
<html lang="tr">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Film Dizi Oyun</title>
    <link href="/css/emu.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar">
        <div class="navbar-links">
            <a href="/Default/Dashboard/" class="navbar-brand @(ViewContext.RouteData.Values["controller"].ToString() == "Default" ? "active-nav-link" : "")">Home</a>
            <a href="/Movie/Index/" class="navbar-brand @(ViewContext.RouteData.Values["controller"].ToString() == "Movie" ? "active-nav-link" : "")">Movies</a>
            <a href="/Series/Index/" class="navbar-brand @(ViewContext.RouteData.Values["controller"].ToString() == "Series" ? "active-nav-link" : "")">Series</a>
            <a href="/Game/Index/" class="navbar-brand @(ViewContext.RouteData.Values["controller"].ToString() == "Game" ? "active-nav-link" : "")">Games</a>
            <a href="/Create/Index/" class="navbar-brand @(ViewContext.RouteData.Values["controller"].ToString() == "Create" ? "active-nav-link" : "")">Create</a>
        </div>
    </div>

    @RenderBody()

</body>
</html>